html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0B1427;
  color: white;
  height: 100%;
  font-size: 18px;
  line-height: 1.2;
}

iframe {
  display: block;
  margin: 0 auto;
}

.about-content {
  margin: 53px 62px;
}

.about-content li {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 27px;
}

.about-contet a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: underline;
}

.about-section {
  margin-top: 31px;
  margin-bottom: 35px;
}

.about-section h2 {
  margin-bottom: 20px;
}

.about-me p {
  margin-bottom: 1rem;
}

.about-talks h3 {
  margin-bottom: 15px;
}

.about-talks ul {
  list-style: disc;
}

.about-talks li {
  margin-left: 1.1em;
}

.body-wrapper {
  min-height: 100%;
  margin-bottom: -20px;
}

.list-button {
  margin: 0 62px;
}

.list-link {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 65px;
}

.list-button li {
  margin-bottom: 41px;
}

.list-button a {
  text-decoration: none;
}

.list-link li {
  margin-bottom: 23px;
  text-align: center;
}

.line span {
  display: inline-block;
}

.about a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: white;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
  font-weight: 700;
}

h3 {
  font-size: 1.1em;
  font-weight: 600;
}

li {
  font-family: 'Roboto', sans-serif;
}

.about-name {
  margin: 44px 0px 3px 0px;
}

.content {
  bottom: 0;
  height: 83vh;
  display: block;
  padding-top: 53px;
  position: relative;
  overflow: hidden;
}

.footer-right {
  margin-right: 8px;
  margin-bottom: 7px;
}

.footer {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-align: right;
  height: 20px;
  width: 100%;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    Url(/assets/material-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}