<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>redryerye</title>

    <!-- styles -->
    {% style "/css/reset.css" %}
    {% style "/css/screen.css" %}

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="body-wrapper">
      <!-- navbar -->
                      <!-- <a href="/" class="navbar-item{% ifequal page "home.html" %} is-active{%endifequal%}">Home</a> -->
                      <!-- <a href="/about" class="navbar-item{% ifequal page "about.html" %} is-active{%endifequal%}">About</a> -->

      <section class="section">
          <div class="container">
              {% block content %}
              {% endblock %}
          </div>
      </section>

      {% block page-scripts %}
      {% endblock %}
    </div>
  </body>
  <footer>
    <div class="footer">
      <div class="footer-right">Copyright © 2020 Yuki Yamamoto. All Right Reserved</div>
    </div>
  </footer>
</html>
