{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="list-button">
    <ul>
      <li>
        <h1><a class="about" href="/about">About me</a></h1>
      </li>
      <!-- <li><h1>Blog</h1></li> -->
    </ul>
  </div>
  <div class="list-link">
    <ul>
      <li class="link">
        <a href="https://github.com/redryerye" target="_blank"><img src="/img/logo_github.png"></a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCT-om9iFTiQTom5tjNfmGHw" target="_blank"><img
            src="/img/logo_youtube.png"></a>
      </li>
      <li>
        <iframe allowtransparency="true" scrolling="no" frameborder="no"
          src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fredryerye&color=white_transparent&size=40"
          style="width: 40px; height: 30px;"></iframe>
      </li>
      <li>
        <a href="https://twitter.com/redryerye" target="_blank"><img src="/img/logo_twitter.png"></a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}